@page
@model SemesterProjectAwaze.Pages.Login.GuestProfileModel
@{
}

<div class="backgroundContainer">
    <div class="browseContainer">
        <div class="filterRow">
            <p>Email @Model.Profile.Email</p>
            <p>Fornavn: @Model.Profile.FirstName</p>
            <p>Efternavn: @Model.Profile.LastName</p>
            <p>Password: @Model.Profile.Password</p>
            <p>ID: @Model.Profile.MyBookingId</p>
            <p>Telefon Nr.: @Model.Profile.Phone</p>
        </div>

        <div class="browsePanel">
            <div class="propertyModule">
                @foreach (var p in Model.Properties)
            {
                <div class="propertyModule">
                    <div class="propertyHeader">
                        @{
                            switch (p.Rating)
                            {
                                case 1:
                                            <img class="starImg" src="~/img/starIcon.svg"/>
                                    break;
                                case 2:
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                    break;
                                case 3:
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                    break;
                                case 4:
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                    break;
                                case 5:
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                    break;
                            }
                        }
                        <img class="favoriteIcon" src="~/img/favoritesIcon.svg" />
                    </div>
                    <div class="imageContainer">
                        <form method="post">
                            <a style="border: none;" type="submit" asp-route-id="@p.Id" asp-page="SelectedProperty">
                                <div class="moduleImg" style="background-image: url('/img/IndexBanner.jpg')">
                                    <div class="priceBox">
                                        <p>@Math.Round(p.PricePrNight, 2) DKK</p>
                                    </div>
                                </div>
                            </a>
                        </form>
                    </div>
                    <h3 class="propertyName">@p.Name, @p.Country</h3>
                    <div class="moduleBottom">
                        <div class="moduleIconContainer">
                            <img class="moduleIcon" src="~/img/bedIcon.svg" />
                            <p>@p.Bedrooms 
                                @{
                                    if (p.Bedrooms > 1)
                                    {
                                        @:SENGE
                                    } 
                                    else 
                                    {
                                        @:SENG
                                    }
                                }
                            </p>
                        </div>
                        <div class="moduleIconContainer">
                            <img class="moduleIcon" src="~/img/personsIcon.svg"/>
                            <p>@p.Persons PERSONER</p>
                        </div>
                        <div class="moduleIconContainer">
                            @{
                                switch (p.HouseType)
                                {
                                    case "HolidayCottage":
                                                <img class="moduleIcon" src="~/img/typeHouseIcon.svg" />
                                                <p>FERIEHUS</p>
                                        break;
                                    case "HollidayApartment":
                                                <img class="moduleIcon" src="~/img/typeVactionIcon.svg" />
                                                <p>FERIELEJLIGHED</p>
                                        break;
                                    case "HouseBoat":
                                                <img class="moduleIcon" src="~/img/typeBoatIcon.svg" />
                                                <p>HUSBÅD</p>
                                        break;
                                }
                            }
                        </div>
                        <div class="sustainableIcon">
                            @if (p.Sustainable){
                                <img src="/img/co2Friendly.svg" />
                            }
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>