@page
@model SemesterProjectAwaze.Pages.Login.GuestProfileModel
@{
}

<div class="backgroundContainer">
    <div class="browseContainerProfile">
        <div class="filterRow profile">
            <h1>MIN PROFIL</h1>
            <form method="post">
                <div class="form-group">
                    <p class="profileInfoTitle">FORNAVN</p><br>
                    <input class="profileInfo" asp-for="@Model.FirstName" class="form-control" placeholder="@Model.LoggedInUser.FirstName"/><br />
                </div>
                <div class="form-group">
                    <p class="profileInfoTitle">EFTERNAVN</p><br>
                    <input class="profileInfo" asp-for="@Model.LastName" class="form-control" placeholder="@Model.LoggedInUser.LastName"/><br />
                </div>
                <div>
                    <p class="profileInfoTitle">ID</p>
                    <p class="profileInfo">@Model.LoggedInUser.MyBookingId</p>
                </div>
                <div class="form-group">
                    <p class="profileInfoTitle">TELEFON NR.</p><br>
                    <input class="profileInfo" asp-for="@Model.Phone" class="form-control" placeholder="@Model.LoggedInUser.Phone" /><br />
                </div>
                <div class="form-group">
                    <p class="profileInfoTitle">PASSWORD</p><br>
                    <input class="profileInfo" asp-for="@Model.Password" class="form-control" placeholder="**********" /><br />
                </div>
                <div class="form-group">
                    <p class="profileInfoTitle">EMAIL</p><br>
                    <input class="profileInfo" asp-for="@Model.Email" class="form-control" placeholder="@Model.LoggedInUser.Email" /><br />
                </div>
                <div class="form-group">
                    <input type="submit" value="Ændre oplysninger" asp-page-handler="Edit" asp-route-id="@Model.LoggedInUser.MyBookingId" class="btn btn-success" />
                </div>
            </form>

            @*<p class="profileInfoTitle">EMAIL ADRESSE</p>
            <p class="profileInfo">@Model.LoggedInUser.Email</p>
            <div>
                <p class="profileInfoTitle">FORNAVN</p>
                <p class="profileInfo">@Model.LoggedInUser.FirstName</p>
            </div>
            <div>
                <p class="profileInfoTitle">EFTERNAVN</p>
                <p class="profileInfo">@Model.LoggedInUser.LastName</p>
            </div>
            <div>
                <p class="profileInfoTitle">ID</p>
                <p class="profileInfo">@Model.LoggedInUser.MyBookingId</p>
            </div>
            <div>
                <p class="profileInfoTitle">TELEFON NR.</p>
                <p class="profileInfo">@Model.LoggedInUser.Phone</p>
            </div>*@
        </div>
        <div class="favoriteModule">
            <div class="favoriteContainer">
                <p class="favoriteTitle">FAVORITTER</p>
                <img class="favoriteSiteIcon" src="~/img/favoritesIcon.svg"/>
            </div>
            <div class="browsePanel">
                @if(Model.FavoriteList != null)
                {
                foreach (var p in Model.FavoriteList)
                {
                    <div class="propertyModule">
                        <div class="propertyHeader">
                            @{
                                switch (p.Property.Rating)
                                {
                                    case 1:
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        break;
                                    case 2:
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        break;
                                    case 3:
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        break;
                                    case 4:
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        break;
                                    case 5:
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        break;
                                }
                            }
                            <img class="favoriteIcon" src="~/img/favoritesIcon.svg" />
                        </div>
                        <div class="imageContainer">
                            <form method="post">
                                <a style="border: none;" type="submit" asp-route-id="@p.Property.Id" asp-page="../Sites/SelectedProperty">
                                    <div class="moduleImg" style="background-image: url('@p.Property.PromoImg')">
                                        <div class="priceBox">
                                            <p>@Math.Round(p.Property.PricePrNight, 2) DKK</p>
                                        </div>
                                    </div>
                                </a>
                            </form>
                        </div>
                        <h3 class="propertyName">@p.Property.Name, @p.Property.Country</h3>
                        <div class="moduleBottom">
                            <div class="moduleIconContainer">
                                <img class="moduleIcon" src="~/img/bedIcon.svg" />
                                <p>
                                    @p.Property.Bedrooms
                                    @{
                                        if (p.Property.Bedrooms > 1)
                                        {
                                            @:SENGE
                                        }
                                        else
                                        {
                                            @:SENG
                                        }
                                    }
                                </p>
                            </div>
                            <div class="moduleIconContainer">
                                <img class="moduleIcon" src="~/img/personsIcon.svg" />
                                <p>@p.Property.Persons PERSONER</p>
                            </div>
                            <div class="moduleIconContainer">
                                @{
                                    switch (p.Property.HouseType)
                                    {
                                        case "HolidayCottage":
                                            <img class="moduleIcon" src="~/img/typeHouseIcon.svg" />
                                            <p>FERIEHUS</p>
                                            break;
                                        case "HollidayApartment":
                                            <img class="moduleIcon" src="~/img/typeVactionIcon.svg" />
                                            <p>FERIELEJLIGHED</p>
                                            break;
                                        case "HouseBoat":
                                            <img class="moduleIcon" src="~/img/typeBoatIcon.svg" />
                                            <p>HUSBÅD</p>
                                            break;
                                    }
                                }
                            </div>
                            <div class="sustainableIcon">
                                @if (p.Property.Sustainable)
                                {
                                    <img src="/img/co2Friendly.svg" />
                                }
                            </div>
                        </div>
                    </div>
                }
                }

            </div>
        </div>
    </div>
</div>