@page
@model SemesterProjectAwaze.Pages.Sites.BrowseModel
@{
}
<div class="backgroundContainer">
    <div class="browseContainer">
        <form method="post" asp-page-handler="Filter">
            <div class="filterRow">
                <div class="filterGroup">
                    <div class="rangeSummary">
                        <label class="form-label" for="Price">Pris</label> 
                            @if (Model.Price == 0)
                            {
                            <span id="priceValue">Ikke angivet</span>
                        } else
                        {
                            <span id="priceValue">@Model.Price DKK</span>
                        }
                    </div>
                    <div class="range browseRange">
                        <input asp-for="@Model.Price" type="range" class="form-range" id="Price" min="0" max="5000" />
                    </div>
                </div>
                <div class="filterGroup houseTypesGroup" id="selectedIcons">
                    <input asp-for="@Model.HouseTypeHouse" type="checkbox" class="custom-control-input hidden" id="ck1a" onclick="selectHouseType(this)" />
                    <label class="custom-control-label houseTypeItem" data-housetype="HouseTypeHouse" for="ck1a">
                        <img src="~/img/typeHouseIcon.svg" style="width: 45px; height: 50px; " />
                    </label>
                    <input asp-for="@Model.HouseTypeVac" type="checkbox" class="custom-control-input hidden" id="ck1a2" onclick="selectHouseType(this)" />
                    <label class="custom-control-label houseTypeItem" data-housetype="HouseTypeVac" for="ck1a2">
                        <img src="~/img/typeVactionIcon.svg" style="width: 45px; height: 50px;" />
                    </label>
                    <input asp-for="@Model.HouseTypeBoat" type="checkbox" class="custom-control-input hidden" id="ck1a3" onclick="selectHouseType(this)" />
                    <label class="custom-control-label houseTypeItem" data-housetype="HouseTypeBoat" for="ck1a3">
                        <img src="~/img/typeBoatIcon.svg" style="width: 45px; height: 50px;">
                    </label>
                </div>
                <div class="filterGroup">
                    <div class="rangeSummary">
                        <label class="form-label" for="stjerner">Antal stjerner</label>
                        @if (Model.Price == 0)
                        {
                            <span id="stjernerValue">Ikke angivet</span>
                        } else
                        {
                            <span id="stjernerValue">@Model.Rating</span>
                        }
                    </div>
                    <div class="range browseRange">
                        <input asp-for="@Model.Rating" type="range" class="form-range" id="stjerner" min="1" max="5" />
                    </div>
                </div>
                <div class="filterGroup">
                    <div class="rangeSummary">
                        <label class="form-label" for="soveværelser">Min. Soveværelser</label>
                        @if (Model.Price == 0)
                        {
                            <span id="soveværelserValue">Ikke angivet</span>
                        } else
                        {
                            <span id="soveværelserValue">@Model.Bedrooms</span>
                        }
                    </div>
                    <div class="range browseRange">
                        <input asp-for="@Model.Bedrooms" type="range" class="form-range" id="soveværelser" min="1" max="7" />

                    </div>
                </div>
                <div class="filterGroup">
                    <div class="rangeSummary">
                        <label class="form-label" for="badeværelser">Min. Badeværelser</label>
                        @if (Model.Price == 0)
                        {
                            <span id="badeværelserValue">Ikke angivet</span>
                        } else
                        {
                            <span id="badeværelserValue">@Model.Bathrooms</span>
                        }
                    </div>
                    <div class="range browseRange">
                        <input asp-for="@Model.Bathrooms" type="range" class="form-range" id="badeværelser" min="1" max="7" />
                    </div>
                </div>
                <div class="filterGroup">
                    <label>Sustainable</label>
                    <img style="width: 24px; height: 24px; " src="/img/co2Friendly.svg" />
                    <input asp-for="@Model.Sustainable" type="checkbox" class="custom-control-input" />
                </div>
                <div class="filterGroup">
                    <div class="form-group">
                        <input type="submit" value="Filtrer" class="btn btn-primary filttBtn" />
                    </div>
                </div>
                </form>
                <form method="get" asp-page-handler="reset">
                    <div class="form-group">
                        <input type="submit" value="Nulstil filter" class="btn btn-primary filttBtn" />
                    </div>
                </form>
            </div>
        <div class="browsePanel">
            @foreach (var p in Model.Properties)
            {
                <div class="propertyModule">
                    <div class="propertyHeader">
                        @{
                            switch (p.Rating)
                            {
                                case 1:
                                            <img class="starImg" src="~/img/starIcon.svg"/>
                                    break;
                                case 2:
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                    break;
                                case 3:
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                    break;
                                case 4:
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                    break;
                                case 5:
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                            <img class="starImg" src="~/img/starIcon.svg" />
                                    break;
                            }
                        }
                        <img class="favoriteIcon" src="~/img/favoritesIcon.svg" />
                    </div>
                    <div class="imageContainer">
                        <form method="post">
                            <a style="border: none;" type="submit" asp-route-id="@p.Id" asp-page="SelectedProperty">
                                <div class="moduleImg" style="background-image: url('@p.PromoImg')">
                                    <div class="priceBox">
                                        <p>@Math.Round(p.PricePrNight, 2) DKK</p>
                                    </div>
                                </div>
                            </a>
                        </form>
                    </div>
                    <h3 class="propertyName">@p.Name, @p.Country</h3>
                    <div class="moduleBottom">
                        <div class="moduleIconContainer">
                            <img class="moduleIcon" src="~/img/bedIcon.svg" />
                            <p>@p.Bedrooms 
                                @{
                                    if (p.Bedrooms > 1)
                                    {
                                        @:SENGE
                                    } 
                                    else 
                                    {
                                        @:SENG
                                    }
                                }
                            </p>
                        </div>
                        <div class="moduleIconContainer">
                            <img class="moduleIcon" src="~/img/personsIcon.svg"/>
                            <p>@p.Persons PERSONER</p>
                        </div>
                        <div class="moduleIconContainer">
                            @{
                                switch (p.HouseType)
                                {
                                    case "HolidayCottage":
                                                <img class="moduleIcon" src="~/img/typeHouseIcon.svg" />
                                                <p>FERIEHUS</p>
                                        break;
                                    case "HollidayApartment":
                                                <img class="moduleIcon" src="~/img/typeVactionIcon.svg" />
                                                <p>FERIELEJLIGHED</p>
                                        break;
                                    case "HouseBoat":
                                                <img class="moduleIcon" src="~/img/typeBoatIcon.svg" />
                                                <p>HUSBÅD</p>
                                        break;
                                }
                            }
                        </div>
                        <div class="sustainableIcon">
                            @if (p.Sustainable){
                                <img src="/img/co2Friendly.svg" />
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
