@page
@model SemesterProjectAwaze.Pages.Sites.BrowseModel
@{
}

<div class="browseContainer">
    <form method="postFilter">
            <div class="filterRow">
                <label class="form-label" for="Price">Price</label>
                <div class="range browseRange">
                    <input type="range" class="form-range" id="Price" min="200" max="5000" />
                    <span id="priceValue">2500</span>
                </div>
                <input type="checkbox" class="custom-control-input" id="ck1a" />
                <label class="custom-control-label" for="ck1a">
                    <svg class="svgClick" xmlns="http://www.w3.org/2000/svg" width="45" height="50.208" viewBox="0 0 45 50.208">
                      <g id="typeHouseIcon" transform="translate(8.193 -0.003)">
                        <path id="Path_36" data-name="Path 36" d="M16.368,7.991,7.023,17.337A1.515,1.515,0,0,0,6.58,18.4V29.917a.789.789,0,0,0,.789.789H12.69a.789.789,0,0,0,.783-.789V22.086a.867.867,0,0,1,.867-.86h5.135a.86.86,0,0,1,.867.86v7.831a.789.789,0,0,0,.783.789h5.321a.789.789,0,0,0,.789-.789V18.4a1.534,1.534,0,0,0-.436-1.065l-9.32-9.345a.783.783,0,0,0-1.11,0Z" transform="translate(-2.61 -4.286)" fill="#2c2b2b"/>
                        <path id="Path_37" data-name="Path 37" d="M15.259,2.569,28.776,15.291a.777.777,0,0,1,0,1.117l-.642.61a.77.77,0,0,1-1.091,0L15.252,5.182a.777.777,0,0,0-1.1,0L2.319,17.018a.77.77,0,0,1-1.091,0l-.61-.61a.777.777,0,0,1,0-1.117L14.148,2.569A.822.822,0,0,1,15.259,2.569Z" transform="translate(-0.39 -2.35)" fill="#2c2b2b"/>
                        <rect id="Rectangle_29" data-name="Rectangle 29" width="2.587" height="1.727" rx="0.55" transform="translate(22.07 3.146)" fill="#2c2b2b"/>
                        <path id="Path_38" data-name="Path 38" d="M34.315,9.566V4.9H29.36Z" transform="translate(-10.518 -1.754)" fill="#2c2b2b"/>
                      </g>
                      <text id="FERIEHUS" transform="translate(0 46.208)" fill="#2c2b2b" font-size="10" font-family="Poppins-Medium, Poppins" font-weight="500"><tspan x="0" y="0">FERIEHUS</tspan></text>
                    </svg>
                </label>
                <input type="checkbox" class="custom-control-input" id="ck1a2" />
                <label class="custom-control-label" for="ck1a2">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="51" viewBox="0 0 45 51">
                    <text id="FERIEHUS" transform="translate(0 47)" fill="#2c2b2b" font-size="10" font-family="Poppins-Medium, Poppins" font-weight="500"><tspan x="0" y="0">FERIEHUS</tspan></text>
                    <g id="typeVactionIcon" transform="translate(8.128)">
                        <path id="Path_43" data-name="Path 43" d="M26.971,4.14H12.138A1.031,1.031,0,0,0,11.1,5.171V11.1H28.01V5.171A1.031,1.031,0,0,0,26.971,4.14Zm-8.6,4.695a.742.742,0,0,1-.742.742H14.378a.742.742,0,0,1-.742-.742V7.166a.742.742,0,0,1,.742-.742h3.256a.742.742,0,0,1,.742.742Zm7.105,0a.742.742,0,0,1-.742.742H21.476a.742.742,0,0,1-.742-.742V7.166a.742.742,0,0,1,.742-.742h3.256a.742.742,0,0,1,.742.742Z" transform="translate(-5.183 -1.811)" fill="#2c2b2b" />
                        <path id="Path_44" data-name="Path 44" d="M30.545,13.57H4.439a1.394,1.394,0,0,0-1.32,1.483V36.88H13.332a6.445,6.445,0,0,1-.067-.934c0-3.085,1.891-5.592,4.227-5.592s4.227,2.507,4.227,5.592a6.445,6.445,0,0,1-.067.934H31.866V15.031A1.394,1.394,0,0,0,30.545,13.57ZM7.628,28.945a.274.274,0,0,1-.282.267h-2.6a.274.274,0,0,1-.282-.267V27.187a.282.282,0,0,1,.282-.274h2.6a.282.282,0,0,1,.282.274Zm0-3.834a.282.282,0,0,1-.282.274h-2.6a.282.282,0,0,1-.282-.274V23.352a.282.282,0,0,1,.282-.274h2.6a.282.282,0,0,1,.282.274Zm0-3.8a.282.282,0,0,1-.282.274h-2.6a.282.282,0,0,1-.282-.274V19.518a.274.274,0,0,1,.282-.267h2.6a.274.274,0,0,1,.282.267Zm0-3.834a.282.282,0,0,1-.282.274h-2.6a.282.282,0,0,1-.282-.274V15.684a.274.274,0,0,1,.282-.267h2.6a.274.274,0,0,1,.282.267Zm8.677,7.958a.742.742,0,0,1-.742.742H12.316a.742.742,0,0,1-.742-.742V23.8a.742.742,0,0,1,.742-.742h3.256a.742.742,0,0,1,.742.742Zm0-4.6a.742.742,0,0,1-.742.742H12.316a.742.742,0,0,1-.742-.742V19.2a.742.742,0,0,1,.742-.742h3.256a.742.742,0,0,1,.742.742Zm0-4.6a.742.742,0,0,1-.742.742H12.316a.742.742,0,0,1-.742-.742v-1.6a.742.742,0,0,1,.742-.742h3.256a.742.742,0,0,1,.742.742Zm7.105,9.2a.742.742,0,0,1-.742.742H19.413a.742.742,0,0,1-.742-.742V23.8a.742.742,0,0,1,.742-.742h3.256a.742.742,0,0,1,.742.742Zm0-4.6a.742.742,0,0,1-.742.742H19.413a.742.742,0,0,1-.742-.742V19.2a.742.742,0,0,1,.742-.742h3.256a.742.742,0,0,1,.742.742Zm0-4.6a.742.742,0,0,1-.742.742H19.413a.742.742,0,0,1-.742-.742v-1.6a.742.742,0,0,1,.742-.742h3.256a.742.742,0,0,1,.742.742Zm7.105,12.712a.274.274,0,0,1-.282.267h-2.6a.274.274,0,0,1-.282-.267V27.187a.282.282,0,0,1,.282-.274h2.6a.282.282,0,0,1,.282.274Zm0-3.834a.282.282,0,0,1-.282.274h-2.6a.282.282,0,0,1-.282-.274V23.352a.282.282,0,0,1,.282-.274h2.6a.282.282,0,0,1,.282.274Zm0-3.834a.282.282,0,0,1-.282.274h-2.6a.282.282,0,0,1-.282-.245V19.518a.274.274,0,0,1,.282-.267h2.6a.274.274,0,0,1,.282.267Zm0-3.834a.282.282,0,0,1-.282.274h-2.6a.282.282,0,0,1-.282-.274V15.684a.274.274,0,0,1,.282-.267h2.6a.274.274,0,0,1,.282.267Z" transform="translate(-3.12 -4.247)" fill="#2c2b2b" />
                        <rect id="Rectangle_63" data-name="Rectangle 63" width="16.316" height="1.557" rx="0.779" transform="translate(6.214)" fill="#2c2b2b" />
                        <rect id="Rectangle_64" data-name="Rectangle 64" width="6.994" height="1.557" rx="0.779" transform="translate(21.752 6.994)" fill="#2c2b2b" />
                        <rect id="Rectangle_65" data-name="Rectangle 65" width="6.994" height="1.557" rx="0.779" transform="translate(-0.001 6.994)" fill="#2c2b2b" />
                    </g>
                </svg>
                </label>
                <input type="checkbox" class="custom-control-input" id="ck1a3" />
                <label class="custom-control-label" for="ck1a3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44.596" height="50.517" viewBox="0 0 44.596 50.517">
                        <text id="HUSBÅD" transform="translate(2.076 46.517)" fill="#2c2b2b" font-size="10" font-family="Poppins-Medium, Poppins" font-weight="500"><tspan x="0" y="0">HUSBÅD</tspan></text>
                        <g id="typeBoatIcon" transform="translate(0.411)">
                            <path id="Path_52" data-name="Path 52" d="M2.44,18.9,6.885,11.17h9.03l-3.642,6.913a2.177,2.177,0,0,0-.1.452,1.4,1.4,0,0,0,0,.351Z" transform="translate(-0.295 -4.538)" fill="#2c2b2b" />
                            <path id="Path_53" data-name="Path 53" d="M40.545,18.9,36.1,11.17H27.07l3.642,6.913a2.177,2.177,0,0,1,.1.452,1.4,1.4,0,0,1,0,.351Z" transform="translate(-0.212 -4.538)" fill="#2c2b2b" />
                            <path id="Path_54" data-name="Path 54" d="M21.476,4.56,13.81,18.918H29.131ZM22.028,15.4a2.137,2.137,0,1,1,1.545-1.535A2.137,2.137,0,0,1,22.028,15.4Z" transform="translate(-0.256 -4.56)" fill="#2c2b2b" />
                            <path id="Path_55" data-name="Path 55" d="M4.49,20.4v8.428c1.274.231,2.629.441,4.013.622,2.167.271,4.214.421,6.121.492V20.4Zm4.525,7.325H7.56a.753.753,0,0,1-.753-.763V22.216a.753.753,0,0,1,.753-.763H9.015Zm3.331-.763a.722.722,0,0,1-.682.763H10.35V21.454h1.345a.722.722,0,0,1,.682.763Z" transform="translate(-0.288 -4.507)" fill="#2c2b2b" />
                            <path id="Path_56" data-name="Path 56" d="M38.544,20.4v8.428c-1.284.231-2.629.441-4.013.622-2.167.271-4.214.421-6.121.492V20.4Zm-4.525,7.325H35.5a.763.763,0,0,0,.763-.763V22.216a.763.763,0,0,0-.763-.763H34.019Zm-3.331-.763a.732.732,0,0,0,.692.763h1.345V21.454H31.35a.732.732,0,0,0-.692.763Z" transform="translate(-0.207 -4.507)" fill="#2c2b2b" />
                            <path id="Path_57" data-name="Path 57" d="M16.2,20.43v9.733l2.8.1v-4.8a2.408,2.408,0,0,1,4.816,0v4.8c1,0,2.007-.05,3.01-.1V20.43Z" transform="translate(-0.248 -4.507)" fill="#2c2b2b" />
                            <path id="Path_58" data-name="Path 58" d="M42.139,31.245A1.515,1.515,0,0,0,40.353,30a100.166,100.166,0,0,1-18.061,1.676A102.976,102.976,0,0,1,2.736,29.82a1.505,1.505,0,1,0-.572,2.95c1.415.281,2.84.522,4.264.742A4.375,4.375,0,0,1,8.787,32.8h0a4.234,4.234,0,0,1,2.589.933,2.539,2.539,0,0,0,1,.522h.1a1.063,1.063,0,0,0,.311,0,2.207,2.207,0,0,0,1.375-.562,4.013,4.013,0,0,1,2.528-.913,3.813,3.813,0,0,1,2.358.883,2.007,2.007,0,0,0,1.254.532,2.3,2.3,0,0,0,1.485-.542,4.134,4.134,0,0,1,2.659-.873,4.074,4.074,0,0,1,2.408,1,1.846,1.846,0,0,0,1.234.522,2.007,2.007,0,0,0,1.355-.562,4.014,4.014,0,0,1,2.528-.943h0a3.813,3.813,0,0,1,2.488,1l.271.191c2.067-.251,4.124-.542,6.161-.923a1.505,1.505,0,0,0,1.244-1.826Z" transform="translate(-0.3 -4.475)" fill="#2c2b2b" />
                            <path id="Path_59" data-name="Path 59" d="M1.3,35.64A5.218,5.218,0,0,0,4.721,37c1.826-.07,2.308-1.385,4.084-1.375s2.167,1.515,4.013,1.475S14.9,35.6,16.682,35.63,18.558,36.915,20.274,37c1.886.08,2.258-1.5,4.144-1.415S26.374,37,28.09,37.055s2.1-1.515,3.893-1.505,2.007,1.475,3.773,1.505,2.3-1.445,4.144-1.505a4.756,4.756,0,0,1,3.171,1.284" transform="translate(-0.299 -4.456)" fill="none" stroke="#2c2b2b" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
                        </g>
                    </svg>
                </label>
                <label class="form-label" for="stjerner">Antal stjerner</label>
                <div class="range browseRange">
                    <input type="range" class="form-range" id="stjerner" min="1" max="5" />
                    <span id="stjernerValue">3</span>
                </div>
                <label class="form-label" for="soveværelser">Min. Soveværelser</label>
                <div class="range browseRange">
                    <input type="range" class="form-range" id="soveværelser" min="1" max="50" />
                    <span id="soveværelserValue">25</span>
                </div>
                <label class="form-label" for="badeværelser">Min. Badeværelser</label>
                <div class="range browseRange">
                    <input type="range" class="form-range" id="badeværelser" min="1" max="20" />
                    <span id="badeværelserValue">10</span>
                </div>
                <div>
                <label>Sustainable</label>
                <svg xmlns="http://www.w3.org/2000/svg" width="24.345" height="24.31" viewBox="0 0 24.345 24.31">
                  <g id="co2    Friendly" transform="translate(0.002)">
                    <path id="Path_45" data-name="Path 45" d="M13.129,27.28a9.5,9.5,0,0,0-.132-1.6l-2.118-3.472a6.169,6.169,0,0,1-2.743-.826,6.313,6.313,0,0,1-2.56-2.9l-.3-.677C4.239,15.446,4.05,14.27,3.1,11.963c-.029-.075-.063-.161-.1-.253A12.144,12.144,0,0,0,12.75,30.04,9.756,9.756,0,0,0,13.129,27.28Z" transform="translate(-1.29 -5.73)" fill="#2dd473"/>
                    <path id="Path_46" data-name="Path 46" d="M15.23,1.29A12.133,12.133,0,0,0,5.438,6.256a11.926,11.926,0,0,1,6.016,2.787,11.972,11.972,0,0,1,3.8,6.531q-2.416-2.037-4.9-4.08L8.32,9.835l1.188,1.693q3.053,4.344,6.152,8.488a4.413,4.413,0,0,1,.528,1,6.08,6.08,0,0,1,.189,2.611c-.034.545-.08,1.211-.155,1.957A12.167,12.167,0,0,0,15.23,1.29Zm8.149,12.626c-.494,1.481-.316,2.026-.958,3.122A5.309,5.309,0,0,1,20.165,19.2a5.165,5.165,0,0,1-2.732.488c.425-.62.861-1.24,1.3-1.865Q20.246,15.7,21.749,13.7c-1.176.913-2.376,1.865-3.581,2.87-.574.494-1.188.993-1.768,1.486a8.609,8.609,0,0,1,1.263-3.214C20,11.293,24.3,10.828,25.02,10.777a11.547,11.547,0,0,0-1.641,3.145Z" transform="translate(-3.058 -1.29)" fill="#2dd473"/>
                  </g>
                </svg>
                <input type="checkbox" class="custom-control-input" />
                </div>
                <label>Tilbud</label>
                <input type="checkbox" class="custom-control-input" />
             </div>
         </form>
            <div class="browsePanel">
                @foreach (var p in Model.Properties)
                {
                    
                    <div class="propertyModule">
                        <div class="propertyHeader">
                            @{
                                switch (p.Rating)
                                {
                                    case 1:
                                        <img class="starImg" src="~/img/starIcon.svg"/>
                                        break;
                                    case 2:
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        break;
                                    case 3:
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        break;
                                    case 4:
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        break;
                                    case 5:
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        <img class="starImg" src="~/img/starIcon.svg" />
                                        break;
                                }
                            }
                            <img class="favoriteIcon" src="~/img/favoritesIcon.svg" />
                        </div>
                        <div class="imageContainer">
                            <form method="post">
                                <a style="border: none;" type="submit" asp-route-id="@p.Id" asp-page="SelectedProperty">
                                    <img class="moduleImg" src="~/img/IndexBanner.jpg"/>
                                </a>
                            </form>
                        </div>
                        <h3 class="propertyName">@p.Name, @p.Country</h3>
                        <div class="moduleBottom">
                            <div class="bedroom">
                                <img class="bedroom" src="~/img/bedIcon.svg"/>
                                <p>@p.Bedrooms SENGE</p>
                            </div>
                            <div class="person">
                                <img class="person" src="~/img/personsIcon.svg"/>
                                <p>@p.Persons PERSONER</p>
                            </div>
                            <div>
                                @{
                                    switch (p.HouseType)
                                    {
                                        case "HolidayCottage":
                                            <img class="houseType" src="~/img/typeHouseIcon.svg" />
                                            <p>FERIEHUS</p>
                                            break;
                                        case "HollidayApartment":
                                            <img class="houseType" src="~/img/typeVactionIcon.svg" />
                                            <p>FERIELEJLIGHED</p>
                                            break;
                                        case "HouseBoat":
                                            <img class="houseType" src="~/img/typeBoatIcon.svg" />
                                            <p>HUSBÅD</p>
                                            break;
                                    }
                                }
                            </div>
                        </div>
                    </div>
        }
    </div>

</div>

